.head{
  background-color: rgb(6, 6, 24);
  padding-bottom: 20px;
}
.actusers{
  margin-top: 150px;
}
.feature{
  background-color: rgb(6, 6, 24);
  padding: 80px;
  margin-top: 150px;
  position: relative;
  padding-bottom: 300px;
}